.Navigation {
    margin-left: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: white;
    list-style: none;
}

.navItem {
    color: #3C3D43;
    width: 5rem;
}

.navButton {
    display: flex;
    align-items: center;
    height: 5rem;
    width: 5rem;
    border: none;
    font-size: 1rem;
    background-color: white;
}

.navItem:hover, .navButton:hover {
    background-color: wheat;
}

.navItem:first-child {
    border-left: 0.25rem solid black;
}

