.saveBtn{
    width: 15rem;
    height: 2rem;
    cursor: pointer;
    background-color: rgb(119, 27, 27);
    color: whitesmoke;
    border: rgb(119, 27, 27);
    font-family: 'Roboto';
}

.notesPage {
    background-color: white;
    color: #3C3D43;
    margin-left: 8rem;
}

.helloText {
    font-weight: 400;
}

.notesPageContainer {
    display: flex;
}

.notesSection {
    display: flex;
    flex-wrap: wrap;
}

.noteCard {
    height: 12rem;
    width: 12rem;
    background-color: wheat;
    border-radius: 0.5rem;
    padding-top: 0;
    font-size: 1rem;
    font-weight: 500;
    padding-right: 1rem;
    padding-left: 1.4rem;
    margin-right: 1.4rem;
    margin-top: 1.4rem;
}

input.noteCard {
    border: none;
}

.noteCard:focus {
    outline: none;
    font-family: Ubuntu;
}


.notesDescContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
