.saveBtn {
    width: 15rem;
    height: 2rem;
    cursor: pointer;
    background-color: rgb(119, 27, 27);
    color: whitesmoke;
    border: rgb(119, 27, 27);
    font-family: 'Roboto';
}

.notesPage {
    background-color: white;
    color: #3C3D43;
    margin-left: 8rem;
}

.helloText {
    font-weight: 400;
}

.notesPageContainer {
    display: flex;
    max-height: 100vh;
}

.notesSection {
    display: flex;
    flex-wrap: wrap;
}

.noteCard {
    height: 12rem;
    width: 12rem;
    background-color: wheat;
    border-radius: 0.5rem;
    padding-top: 0;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 1.4rem;
    margin-right: 1.4rem;
    margin-top: 1.4rem;
}

.noteCard:hover{
    
    box-shadow: 0 0 1rem lightsteelblue;
}

div.noteCard {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.noteD {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
}

textarea.noteCard {
    border: none;
    outline: none;
    padding-right: 1.4rem;
    padding-top: 1rem;
    text-overflow: ellipsis;
}

textarea.noteCard:focus {
    background-color: darksalmon;
}

.noteCard:focus {
    outline: none;
    font-family: Ubuntu;
}

.notesDescContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.del {
    background-color: red;
    font-size: 0;
    color: blue;
}